.welcome{
    position: absolute;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    left: 1%;
}

.mainsection{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.mainsection>img{
    width: inherit;
    height: inherit;
}

aside{
    position: absolute;
    top: 1%;
    right: 0.5%;
}

.informationpanel{
   width: 35vw;
   height: 98vh;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.573);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*---------------------*/
form{
    position: absolute;
    bottom: 55%;
    left: 30%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 400px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}


a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

form:valid a {
  display: block;
}

/*-----------------*/
.lineone, .linetwo{
    position: relative;
    width: 400px;
    border-top: 2px solid rgb(78, 77, 77);
    top: 50px;
    left: 30px;
}

.linetwo{
    top: 30px;
    left: 0px;
    height: 60px;
}

.city{
    background-color: transparent;
    position: relative;
    width: 100px;
    height: 250px;
    top: 80px;
    left: 30px;
}

.city>button{
    font-size: 17px;
    background-color: transparent;
    border: none;
}

.weatherdetailspanel{
    position: relative;
    height: 400px;
    left: 30px;
}

.weatherdetails{
    position: relative;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

.details{
    background-color: transparent;
    position: relative;
    width: 130px;
    height: 260px;
    margin-top: 30px;
}

.cloudy, .humidity, .wind{
    width: 120px;
}

.cloudyimg>img, .humidityimg>img, .windimg>img{
    width: 45px;
}

/*--------------*/

.image{
    position: absolute;
    width: 200px;
    height: 150px;
    top: 45%;
    left: 10%;
}

.image>:nth-child(1){
    width: 100px;
}

.image>:nth-child(2){
    position: relative;
    width: 50px;
    top: 22%;
}

.currentupdates{
    position: absolute;
    width: 360px;
    height: 150px;
    top: 45%;
    left: 22%;
    background-color: transparent;
}

.temprature{
    font-family: "Concert One", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 10px;
    width: fit-content;
    height: fit-content;
}

.temprature>h1{
    font-size: 50px;
}

.citydetails{
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    color: white;
    width: fit-content;
    height: fit-content;
}

.citydetails>:nth-child(1){
    font-size: 30px;
}

.citydetails>:nth-child(2){
    font-size: 15px;
}

.weatherimgdetails{
    width: 80px;
    background-color: transparent;
}

.weatherimg{
    width: 40px;
    height: fit-content;
    background-color: transparent;
}

.weatherimgdetails>:nth-child(2){
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;
    width: 100px;
    text-align: center;
    background-color: transparent;
}